body {
    left: 0; right: 0;
}
header {
    /* border: 1px solid #000; */
    position: absolute;
    right: 0; left: 0;
    background-color: transparent;
    transition: 0.7s;
}
header:hover {
    background-color: #fff;
}

/* util-menu / 상단 */
.t-top-menu {
    /* border: 1px solid red; */
    padding-top: 10.5px; padding-bottom: 10.5px;
    padding-left: 94px; padding-right: 94px;
}
.t-top-menu > ul {
    display: flex;
    justify-content: end;
}
.tt-menu-item {
    color: #ccc;
    font-family: 'Pretendard', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16.8px;
    position: relative;
}
header:hover .tt-menu-item {
    color: #666;
}
.tt-menu-item01::after, .tt-menu-item02::after, .tt-menu-item03::after, .tt-menu-item04::after, .tt-menu-item05::after, .tt-menu-item06::after {
    content: "";
    width: 1px; height: 7px;
    background-color: #ccc;
    position: absolute;
    right: 0; top: 5px;
}
.tt-menu-item01 {
    padding-right: 18px;
}
.tt-menu-item02, .tt-menu-item03, .tt-menu-item04, .tt-menu-item05, .tt-menu-item06 {
    padding-left: 18px; padding-right: 18px;
}
.tt-menu-item06 > a {
    display: flex;
    gap: 1px;
}
header:hover .tt-menu-item06 img {
    /* 원래 흰색인 이미지를 완전히 검은색/어두운 톤으로 바꾸는 필터 효과 */
    filter: invert(60%) brightness(100%);
}
.tt-menu-item07 {
    padding-left: 18px;
}
.tt-menu-item07 > a {
    display: flex;
    gap: 4px;
}
header:hover .tt-menu-item07 img {
    /* 원래 흰색인 이미지를 완전히 검은색/어두운 톤으로 바꾸는 필터 효과 */
    filter: invert(60%) brightness(100%);
}

/* inner / 하단 */
.t-buttom-menu {
    /* background-color: rgb(148, 148, 148); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 94px; padding-right: 94px;
    padding-top: 13px; padding-bottom: 13px;
    position: relative;
}

/* /main-logo / 로고 */
/* .main-logo {
    border: 1px solid orange;
} */
.main-logo img {
    width: 136px; 
}
.w-main-logo {
    display: block;
}
.b-main-logo {
    display: none;
}
header:hover .w-main-logo {
    display: none;
}
header:hover .b-main-logo {
    display: block;
}

/* menu01 / 상단바 하단 메뉴01 */
.menu01 {
    transition: 0.6s;
}
.menu01 > ul {
    display: flex;
}
.mn01-item {
    padding-left: 28px; padding-right: 28px;
    padding-bottom: 40px; margin-bottom: -40px;
}
.mn01-a {
    color: #fff;
    font-family: 'Pretendard', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28.8px; /* 165.517% */
}
header:hover .mn01-a {
    color: #222;
}
.mn01-item > .mn01-a {
    transition: 0.5s;
    position: relative;
}
.mn01-item:hover > .mn01-a::before {
    width: 50%;
    transition: 0.5s;
}
.mn01-a::before {
    content: "";
    height: 2px; width: 0;
    bottom: 0; right: 50%;
    background-color: #222;
    position: absolute;
    transition: 0.3s;
}
.mn01-item:hover > a::after {
    width: 50%;
    transition: 0.5s;
}
.mn01-a::after {
    content: "";
    height: 2px; width: 0;
    bottom: 0; left: 50%; 
    background-color: #222;
    position: absolute;
    transition: 0.3s;
}

/* menu02 / 상단바 하단 2차 메뉴 */
.menu02::before {
    content: "";
    position: absolute;
    height: 40px;
    top: -40px;
    left: 0; right: 0;
    background-color: transparent;
}
.menu02 {
    position: absolute;
    max-width: 1920px;
    top: 100%; right: 0; left: 0;
    height: 0;
    transition: 0.5s;
    opacity: 0;
    overflow: hidden;
    background-color: #fff;
}
.mn01-item01:hover .menu02-01 {
    background-color: #fff;
    height: 430px;
    opacity: 1;
    padding-top: 40px; padding-bottom: 60px; 
    padding-left: 32px; padding-right: 200px;
}
.mn01-item02:hover .menu02-02 {
    background-color: #fff;
    height: 430px;
    opacity: 1;
    padding-top: 40px; padding-bottom: 60px; 
    padding-left: 32px; padding-right: 200px;
}
.mn01-item03:hover .menu02-03 {
    background-color: #fff;
    height: 430px;
    opacity: 1;
    padding-top: 40px; padding-bottom: 60px; 
    padding-left: 32px; padding-right: 200px;
}
.mn01-item04:hover .menu02-04 {
    background-color: #fff;
    height: 430px;
    opacity: 1;
    padding-top: 40px; padding-bottom: 60px; 
    padding-left: 32px; padding-right: 200px;
}
.mn01-item05:hover .menu02-05 {
    background-color: #fff;
    height: 430px;
    opacity: 1;
    padding-top: 40px; padding-bottom: 60px; 
    padding-left: 32px; padding-right: 200px;
}
.mn01-item06:hover .menu02-06 {
    background-color: #fff;
    height: 430px;
    opacity: 1;
    padding-top: 40px; padding-bottom: 60px; 
    padding-left: 32px; padding-right: 200px;
}
.mn01-item07:hover .menu02-07 {
    background-color: #fff;
    height: 430px;
    opacity: 1;
    padding-top: 40px; padding-bottom: 60px; 
    padding-left: 32px; padding-right: 200px;
}
.mn01-item08:hover .menu02-08 {
    background-color: #fff;
    height: 430px;
    opacity: 1;
    padding-top: 40px; padding-bottom: 60px; 
    padding-left: 32px; padding-right: 200px;
}
.mn02-list {
    /* border: 1px solid red; */
    height: 100%;
    padding-left: 300px; padding-right: 300px;
    display: none;
    gap: 32px;
    overflow: hidden;
}
.mn01-item:hover .mn02-list {
    display: flex;
}
.mn01-l-box {
    margin-right: 5px;
    padding-right: 30px;
    /* border: 1px solid orange; */
    border-right: 1px solid #bababa;
    flex-grow: 1; flex-basis: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.none {
    border-right: transparent;
}
.mn02-title {
    font-family: 'Pretendard', sans-serif;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    /* background-color: orange; */
}
.mn02-title > a {
    /* background-color: skyblue; */
    position: relative;
    display: inline-block;
}
.mn02-title > a::before {
    content: "";
    height: 2px; width: 0;
    bottom: -3px; right: 50%;
    background-color: #222;
    position: absolute;
    transition: 0.3s;
}
.mn02-title > a::after {
    content: "";
    height: 2px; width: 0;
    bottom: -3px; left: 50%;
    background-color: #222;
    position: absolute;
    transition: 0.3s;
}
.mn02-title > a:hover::before, 
.mn02-title > a:hover::after {
    width: 50%;
    transition: 0.5s;
}
.mn02-ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.mn02-item > a {
    position: relative;
    display: inline-block;
    font-family: 'Pretendard', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: calc(var(--ck-font-size-base) * 7.5 / 13);
    letter-spacing: calc(var(--ck-font-size-base) * -0.2 / 13);
    /* border-bottom: 1px solid #000; */
}
.mn02-item > a::before {
    content: "";
    height: 0.5px; width: 0;
    bottom: -2px; right: 50%;
    background-color: #222;
    position: absolute;
    transition: 0.3s;
}
.mn02-item > a::after {
    content: "";
    height: 0.5px; width: 0;
    bottom: -2px; left: 50%; 
    background-color: #222;
    position: absolute;
    transition: 0.3s;
}
.mn02-item > a:hover::before,
.mn02-item > a:hover::after {
    width: 50%;
    transition: 0.5s;
}

/* btn-open / 상단바 하단 오른쪽 버튼 */
.btn-open {
    /* border: 1px solid orange; */
    padding-left: 40px;
    transition: 0.5s;
}
header:hover .btn-open {
    /* 원래 흰색인 이미지를 완전히 검은색/어두운 톤으로 바꾸는 필터 효과 */
    filter: invert(100%) brightness(15%);
}

/* key-visual / 상단 배경 이미지 */
.key-visual {
    top: 0;
    left: 0; right: 0;
    position: relative;
    z-index: -1;
}
.key-visual img {
    width: 100%; height: 100vh;
    object-fit: cover;
    overflow: hidden;
}
.kv-text-box {
    position: absolute;
    transform: translateX(-50%);
    top: 38%; left: 50%; right: 50%;
    /* border: 1px solid red; */
    width: 100%;
    text-align: center;
}
.kv-main-title {
    color: #fff;
    font-size: 74px;
    font-weight: 400;
    line-height: 96px;
}
.kv-description {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    line-height: 38px;
}

/* section01 / 섹션01 */
.section01 {
    padding-left: 64px; padding-right: 64px;
    padding-bottom: 200px; padding-top: 79px;
    max-width: 1920px;
    margin-top: 0; margin-bottom: 0;
    margin-left: auto; margin-right: auto;
    display: flex;
    flex-direction: column;
    gap: 32px;
    box-sizing: border-box;
}

/* sec01-main-title / 메인 타이틀 */
.sec01-main-title {
    font-family: 'Pretendard', sans-serif;
    font-size: 50px;
    font-weight: 400;
    line-height: 67px;
}

/* 키워드 / menu-box */
.menu-box {
    /* border: 1px solid red; */
    display: flex;
    margin-top: 48px;
    align-items: center;
    gap: 40px;
    width: 100%;
}
.col {
    display: flex;
    /* border: 1px solid orange; */
    align-items: center;
}
.col01 {
    position: relative;
    /* padding-right: 20px; */
}
.col01::after {
    content: "";
    width: 1px; height: 18px;
    background-color: #dedede;
    position: absolute;
    transform: translateY(-50%);
    top: 50%; left: calc(100% + 20px);
}
.col-title {
    padding-right: 10px;
    font-family: 'Pretendard', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.chip-ul {
    display: flex;
    gap: 8px;
    flex-shrink: 1;
}
.chip-item {
    border: 1px solid #ddd;
    border-radius: 100px;
    padding-left: 16px; padding-right: 16px;
    padding-top: 7px; padding-bottom: 7px;
    color: #999;
    cursor: pointer;
    font-family: 'Pretendard', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}
.active {
    color: #fff;
    background-color: #7C4D56;
    border: 1px solid #7C4D56;
}

/* sec01-lsit-box / 리스트 박스 */
.sec01-list-box {
    padding-top: 8px;
    display: flex;
    gap: 32px;
    height: 800px;
}
.product-ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
    width: 100%;
}
.pr-item {
    /* border: 1px solid red; */
    /* width: 100%; */
    box-sizing: border-box;
    /* flex-grow: 1; flex-basis: 0; */
    flex-grow: 1; flex-basis: 0;
    /* height: 0; */
}
.pr-item > a {
    /* border: 1px solid orange; */
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.pr-img-box {
    background-color: #c2c2c2;
    height: 260px;
}
.pr-img-box img {
    object-fit: cover;
    height: 100%; width: 100%;
}


/* pr-text-box / 섹션01 리스트 텍스트 */
.pr-text-box {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.pr-cap {
    font-family: 'Pretendard', sans-serif;
    color: #7C4D56;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
}
.pr-name {
    font-family: 'Pretendard', sans-serif;
    font-size: 22.3px;
    font-weight: 500;
    line-height: 36px;
}
.pr-date {
    font-family: 'Pretendard', sans-serif;
    color: #222;
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    padding-top: 8px;
}

.sct01-right-box {
    /* border: 1xp solid blue; */
    height: 100%; width: 31%;
}
.sct01-right-box > a {
    height: 100%;
}
.sct01-right-box img {
    height: 100%; width: 100%;
    object-fit: cover;
}

/* ------ section02 / 섹션02 ------ */
.section02 {
    background-color: #F4EEEA;
    padding-top: 201px;
    /* padding-bottom: 160px; */
    padding-bottom: 500px;
    overflow: hidden;
    box-sizing: border-box;
}
.sct02-con {
    width: 100%;
}
.sct01-head {
    display: flex;
    flex-direction: column;
    padding-left: 64px; padding-right: 64px;
    padding-bottom: 60px;
    gap: 7px;
}
.sct01-h-title {
    font-size: 53px;
    font-weight: 400;
    line-height: 67px;
}
.sct-h-text {
    font-size: 17px;
    font-weight: 400;
    line-height: 28px;
}

/* ---- sct02-swiper / 섹션02 리스트 ---- */
.sct02-list {
    display: flex;
    justify-content: center;
    object-fit: cover;
    width: 100%;
}
.sct02-swiper {
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    gap: 58px;
    flex-shrink: 0; /* 카드 축소 방지 */
}
.sct-w-img-box {
    width: 100%;
    max-width: 944px;
    height: 100%;
}
.sct-w-img-box > img {
    height: auto; width: 100%;
    object-fit: cover;
}
.sct02-w-text-box {
    display: none;
}
.sct02-active {
    display: flex;
    justify-content: space-between;
}
.sct02-active .w-text-left {
    display: block;
}
.w-text-left span {
    font-size: 17px;
    font-weight: 500;
    line-height: 27px;
    color: #AC9C8D;
}
.text-l-title {
    color: #222;
    font-size: 33px;
    font-weight: 400;
    line-height: 54px;
}
.sct02-active .w-text-right {
    display: flex;
    gap: 97px;
    flex-direction: column;
    justify-content: start;
}
.w-text-right > p {
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
}
.text-r-btn {
    width: fit-content;
    cursor: pointer;
    position: relative;
}
.text-r-btn span {
    display: inline-block;
    color: #222;
    font-size: 15px;
    font-weight: 600;
    line-height: 24px;
    /* border: 1px solid red; */
}
.text-r-btn::before {
    content: "";
    position: absolute;
    top: 100%; left: 0;
    width: 100%; height: 3px;
    background-color: #222;
}
.text-r-btn:hover .text-r-btn::before {
    width: 0;
}