header {
    /* border: 1px solid #000; */
    /* position: absolute; */
    right: 0; left: 0;
    background-color: transparent;
    transition: 0.7s;
}
header:hover {
    background-color: #fff;
}

/* util-menu / 상단 */
.t-top-menu {
    /* border: 1px solid red; */
    padding-top: 10.5px; padding-bottom: 10.5px;
    padding-left: 94px; padding-right: 94px;
}
.t-top-menu > ul {
    display: flex;
    justify-content: end;
}
.tt-menu-item {
    color: #ccc;
    font-family: 'Pretendard', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16.8px;
    position: relative;
}
header:hover .tt-menu-item {
    color: #666;
}
.tt-menu-item01::after, .tt-menu-item02::after, .tt-menu-item03::after, .tt-menu-item04::after, .tt-menu-item05::after, .tt-menu-item06::after {
    content: "";
    width: 1px; height: 7px;
    background-color: #ccc;
    position: absolute;
    right: 0; top: 5px;
}
.tt-menu-item01 {
    padding-right: 18px;
}
.tt-menu-item02, .tt-menu-item03, .tt-menu-item04, .tt-menu-item05, .tt-menu-item06 {
    padding-left: 18px; padding-right: 18px;
}
.tt-menu-item06 > a {
    display: flex;
    gap: 1px;
}
header:hover .tt-menu-item06 img {
    /* 원래 흰색인 이미지를 완전히 검은색/어두운 톤으로 바꾸는 필터 효과 */
    filter: invert(60%) brightness(100%);
}
.tt-menu-item07 {
    padding-left: 18px;
}
.tt-menu-item07 > a {
    display: flex;
    gap: 4px;
}
header:hover .tt-menu-item07 img {
    /* 원래 흰색인 이미지를 완전히 검은색/어두운 톤으로 바꾸는 필터 효과 */
    filter: invert(60%) brightness(100%);
}

/* inner / 하단 */
.t-buttom-menu {
    /* background-color: rgb(148, 148, 148); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 94px; padding-right: 94px;
    padding-top: 13px; padding-bottom: 13px;
    position: relative;
}

/* /main-logo / 로고 */
/* .main-logo {
    border: 1px solid orange;
} */
.main-logo img {
    width: 136px; 
}
.w-main-logo {
    display: block;
}
.b-main-logo {
    display: none;
}
header:hover .w-main-logo {
    display: none;
}
header:hover .b-main-logo {
    display: block;
}

/* menu01 / 상단바 하단 메뉴01 */
.menu01 {
    transition: 0.6s;
}
.menu01 > ul {
    display: flex;
}
.mn01-item {
    padding-left: 28px; padding-right: 28px;
}
.mn01-a {
    color: #fff;
    font-family: 'Pretendard', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28.8px; /* 165.517% */
}
header:hover .mn01-a {
    color: #222;
}
.mn01-item > .mn01-a {
    transition: 0.5s;
    position: relative;
}
.mn01-item:hover > .mn01-a::before {
    width: 50%;
    transition: 0.5s;
}
.mn01-a::before {
    content: "";
    height: 2px; width: 0;
    bottom: 0; right: 50%;
    background-color: #222;
    position: absolute;
    transition: 0.3s;
}
.mn01-item:hover > a::after {
    width: 50%;
    transition: 0.5s;
}
.mn01-a::after {
    content: "";
    height: 2px; width: 0;
    bottom: 0; left: 50%; 
    background-color: #222;
    position: absolute;
    transition: 0.3s;
}
.menu02 {
    position: absolute;
    max-width: 1920px;
    top: 0; right: 0; left: 0;
    height: 0px;
    padding-top: 40px; padding-bottom: 60px; 
    padding-left: 32px; padding-right: 200px;
    transition: 0.5s;
}
.mn01-item01:hover .menu02 {
    background-color: #fff;
    height: 430px;
    top: 100%;
    overflow: hidden;
}
.mn02-list {
    /* border: 1px solid red; */
    /* transform: translateX(-50%); */
    height: 100%;
    padding-left: 300px; padding-right: 300px;
    display: none;
    gap: 32px;
}
.mn01-item01:hover .mn02-list {
    display: flex;
    overflow: hidden;
}
.mn01-l-box {
    margin-right: 5px;
    padding-right: 30px;
    /* border: 1px solid orange; */
    border-right: 1px solid #bababa;
    flex-grow: 1; flex-basis: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.mn02-title {
    font-family: 'Pretendard', sans-serif;
    font-size: 16px;
    font-weight: 600;
    position: relative;
    display: flex;
    /* background-color: orange; */
}
/* .mn02-title > a {
    background-color: skyblue;
} */
.mn02-title > a::before {
    content: "";
    height: 2px; width: 0;
    bottom: 0; top: calc(100% + 2px); right: 50%;
    background-color: #222;
    position: absolute;
    transition: 0.3s;
}
.mn02-title:hover > a::before {
    width: 50%;
    transition: 0.5s;
}
.mn02-title > a::after {
    content: "";
    height: 2px; width: 0;
    bottom: 0; top: calc(100% + 2px); left: 50%; 
    background-color: #222;
    position: absolute;
    transition: 0.3s;
}
.mn02-title:hover > a::after {
    width: 50%;
    transition: 0.5s;
}
.mn02-ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.mn02-item > a {
    position: relative;
    font-family: 'Pretendard', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: calc(var(--ck-font-size-base) * 7.5 / 13);
    letter-spacing: calc(var(--ck-font-size-base) * -0.2 / 13);
    /* border-bottom: 1px solid #000; */
}
.mn02-item > a::before {
    content: "";
    height: 0.5px; width: 0;
    bottom: 0; top: calc(100% + 1px); right: 50%;
    background-color: #222;
    position: absolute;
    transition: 0.3s;
}
.mn02-item:hover > a::before {
    width: 50%;
    transition: 0.5s;
}
.mn02-item > a::after {
    content: "";
    height: 0.5px; width: 0;
    bottom: 0; top: calc(100% + 1px); left: 50%; 
    background-color: #222;
    position: absolute;
    transition: 0.3s;
}
.mn02-item:hover > a::after {
    width: 50%;
    transition: 0.5s;
}

/* menu02 / 상단바 하단 2차 메뉴 */
/* .menu02 {
    max-width: 1920px;
    height: 530px;
    position: absolute;
    left: 0; right: 0; top: 100%;
    background-color: #fff;
    transition: 0.6s;
    overflow: hidden;
}
.menu01:hover > .menu02 {
    height: 530px;
    padding-top: 40px; padding-bottom: 60px; 
    padding-left: 32px;
} */

/* btn-open / 상단바 하단 오른쪽 버튼 */
.btn-open {
    /* border: 1px solid orange; */
    padding-left: 40px;
    transition: 0.5s;
}
header:hover .btn-open {
    /* 원래 흰색인 이미지를 완전히 검은색/어두운 톤으로 바꾸는 필터 효과 */
    filter: invert(100%) brightness(15%);
}

/* key-visual / 상단 배경 이미지 */
.key-visual {
    height: 1200px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0; right: 0;
}
.key-visual img {
    width: 100%; height: 100vh;
    object-fit: cover;
    transition: 0.7s;
}
